/*구글 웹폰트*/
		@import url('https://fonts.googleapis.com/css2?family=Abel&family=Nanum+Gothic&display=swap');
/*공통사항*/
 
     * {box-sizing: border-box;}
		body {
			
			background-color: white;
			font-family: 'Abel', sans-serif;
			font-family: 'Nanum Gothic', sans-serif;
			margin: 0;
			padding: 0;
			font-size: 14px;
			color: rgba(0,0,0,0.7);		
		}


		/* width */
		::-webkit-scrollbar {
		  width: 10px;
		}

		/* Track */
		::-webkit-scrollbar-track {
		  background: #f1f1f1; 
		}
		 
		/* Handle */
		::-webkit-scrollbar-thumb {
		  background: #888; 
		}
	
	
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		a {
			color: inherit; /*부모한테 상속받은 색상을 사용하세요 */
			text-decoration: none;
		
		}

		/* 그라디언트 효과 1 */
		

		.gradient-border {
			box-sizing: border-box;
			display: inline-block;
		    width: 150px;
			height: 150px;
			border-style: solid;
			border-image: linear-gradient(to right, #A1E7FD 0%, #D1C2FF 50%, #F0ACF2 100%);
			border-image-slice: 1;
			background: #d5d5d5;
		}

		.top { 
		  	border-image-width: 5px 0 0 0; 
		}

		.bottom { 
		  	border-image-width: 0 0 5px 0; 
		}

		.all { 
		  	border-image-width: 5px; 
		}


		/*  글자 반사 효과  */
		.mirror{
		  	display: inline-flex;
		}

		.mirror_Text {
			font-size: 5em;
			
			color: #D1C2FF;
		}

		#mirror_Text1::after {
			content: "Member";
			display: flex;
			transform: rotateX(180deg);
			background-image: linear-gradient(180deg, rgba(209, 194, 255, .0) 36%, rgba(209, 194, 255, .5));
			-webkit-background-clip: text;
			color: transparent;
			margin-top: -30px;
		}


		/* button 사이즈 */
		button {
			border-style: none;
			background-color: transparent;
			outline: none;
		}
		.btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 96px;
			height: 42px;
		    position: relative;
		    border: 1.3px solid #d5d5d5;
		    border-radius: 5px;
		 	background: white;
		    background-clip: padding-box;
		    padding: 10px;
		    /* just to show box-shadow still works fine */
		}

		.btn::after {
		    position: absolute;
		    top: -1px; bottom: -1px; left: -1px; right: -1px;
		    background: linear-gradient(to right, #A1E7FD 0%, #D1C2FF 50%, #F0ACF2 100%);
		    content: '';
		    z-index: -1;
		    border-radius: 5px;
		}
		.btn:hover {
			 border: 1px solid transparent;
		}
	
		/*글자색 배경색*/
		.color1 {color:#A1E7FD;}
		.color2 {color:#C2CDFF;}
		.color3 {color:#D1C2FF;}
		.color4 {color:#F0ACF2;}
		.color5 {color:#d5d5d5;}
		.color5 {color:#222222;}


		/* 박스 크기 */


		div.box_size{
			width: 293px;
			height: 325px;	
			border: 1px solid #d5d5d5;
			margin: 0 auto;
		}

		div.wrap_box_img_size {
			width: 275px;
			height: 230px;
			margin: 9px 7px 9px 8px;
			box-sizing: border-box;
			overflow: hidden;
			border: 1px solid #d5d5d5;
		}

		/* 박스 안 이미지 크기 */
		img.box_img_size{
			width: 275px;
			height: 230px;
		}


		/* 세개 박스 */
		div.three_box{
			display: flex;
			justify-content: space-between;
			width: 905px;
			margin: 0 auto;
		}

		